<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Unofficial Amazon AWS Glacier Calculator</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Unofficial Amazon AWS Glacier Calculator</h1>
        <p>A single page angular js app for calculating the rates for AWS glacier</p>
        <p class="view"><a href="https://github.com/liangzan/aws-glacier-calculator">View the Project on GitHub <small>liangzan/aws-glacier-calculator</small></a></p>

	<h3>Assumptions</h3>
	<p>
	  <ol>
	    <li>1 month equals 30 days</li>
	    <li>Request costs are assumed to be zero</li>
	    <li>Data transfer rate beyond 350TB is assumed to be the the same as the 350TB tier</li>
	    <li>You are making a single set of retrieval job requests, evenly spread over the retrieval time</li>
	  </ol>
	</p>

	<div id="cloudberry">
	  <a href="http://ad.doubleclick.net/jump/N7384.1918728LIANGZAN.NETAWS-GL2/B8400151.113559390;sz=200x200;ord=[timestamp]?">
	    <img src="http://ad.doubleclick.net/ad/N7384.1918728LIANGZAN.NETAWS-GL2/B8400151.113559390;sz=200x200;ord=[timestamp]?" border=0 width=200 height=200 alt="Advertisement">
	  </a>
	</div>

	<div>
          <p>This project is maintained by <a href="http://liangzan.net">liangzan</a></p>
          <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
	</div>
      </header>

      <section ng-controller="GlacierCalculatorCtrl">
        <h3>Welcome to the unofficial Amazon AWS Glacier Calculator.</h3>

	<p>
	  This is a single page javascript app that helps you estimate the cost of <a href="http://aws.amazon.com/glacier/">AWS glacier</a>. It is not endorsed by <a href="http://aws.amazon.com">Amazon AWS</a>. The rates are referenced from the <a href="http://aws.amazon.com/glacier/pricing/">Glacier pricing page</a> as well as the <a href="http://aws.amazon.com/glacier/faqs/">Glacier FAQ</a>.  This page is built with <a href="http://angularjs.org/">Angular JS</a> and hosted on <a href="http://pages.github.com/">Github pages</a>.
	</p>
	<p>
	  Should you discover any mistakes, please let me know at <a href="https://twitter.com/liangzan">@liangzan</a> or my <a href="mailto:zan@liangzan.net">email</a>. Thanks!
	</p>

	<h3>Select your region</h3>
	<p>
	  <input type="radio" ng-model="region" value="us-east-1" ng-change="calculate()"/>US East (N. Virginia)<br/>
	  <input type="radio" ng-model="region" value="us-west-1" ng-change="calculate()"/>US West (Oregon)<br/>
	  <input type="radio" ng-model="region" value="us-west-2" ng-change="calculate()"/>US West (N. California)<br/>
	  <input type="radio" ng-model="region" value="eu-west-1" ng-change="calculate()"/>EU (Ireland)<br/>
	  <input type="radio" ng-model="region" value="eu-central-1" ng-change="calculate()"/>EU (Frankfurt)<br/>
	  <input type="radio" ng-model="region" value="ap-southeast-2" ng-change="calculate()"/>Asia (Sydney)<br/>
	  <input type="radio" ng-model="region" value="ap-northeast-1" ng-change="calculate()"/>Asia (Tokyo)
	</p>

	<h3>Storage information</h3>
	<p>
	  <label>Amount of data stored (GB)</label><input type="text" ng-model="storedData" ng-change="calculate()"/><br/>
	  <label>Duration that data was kept (days)</label><input type="text" ng-model="storedDuration" ng-change="calculate()"/>
	</p>

	<h3>Retrieval information</h3>
	<p>
	  <label>Amount of data to retrieve (GB)</label><input type="text" ng-model="retrieveData" ng-change="calculate()"/><br/>
	  <label>Length of time for retrieval (hours, min 4)</label><input type="text" ng-model="retrieveJobHours" ng-change="calculate()"/><br/>
	</p>

	<h3>Early deletion information</h3>
	<p>
	  <label>Amount of data to be deleted (GB)</label><input type="text" ng-model="deletedData" ng-change="calculate()"/><br/>
	  <label>Duration that data was kept (days)</label><input type="text" ng-model="deletedDuration" ng-change="calculate()"/>
	</p>

	<h3>Estimated cost breakdown</h3>
	<p>
	  <label>Storage Cost</label>{{ storageCost | currency }}<br/>
	  <label>Retrieval Cost</label>{{ retrievalCost | currency }}<br/>
	  <label>Deletion Cost</label>{{ deletionCost | currency }}<br/>
	  <label>Transfer Cost</label>{{ transferCost | currency }}<br/>
	  <span class="total-cost">
	    <label>Total Cost</label>{{ totalCost | currency }}
	  </span>
	</p>

      </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/angular-1.0.1.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2672768-2']);
      _gaq.push(['_setDomainName', 'liangzan.net']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
